label{
	display: block;
	font-size: 1.4em;
	margin-bottom: 5px;
}

input,button,textarea{
	font-size: 16px;
	margin-bottom: 15px;
}

textarea{
	min-height: 300px;
	min-width: 300px;
	width: 70%;
	display: block;
}

p{max-width: 50%}

.btn{
	display: block;
	padding: 15px 10px;
}